
default-background-color = #eeeeee
default-color = #333333
default-line-height = 1.4em 
default-transparency = rgba(0, 0, 0, 0.2)
default-font-family = "Helvetica Neue", helvetica, arial, sans-serif

small-font-size = 8pt
medium-font-size = 10pt
large-font-size = 16pt
xlarge-font-size = 36pt

small = 5px
medium = 10px
large = 20px
xlarge = 40px


